html {
    scroll-behavior: smooth;
  }
.navbar-dark {
    background-color:transparent;
    color: lightblue;
    padding:10px;
}

.nav-link,.navbar-brand {
    color: lightblue !important;
}

.nav-link:hover{
    color: whitesmoke !important;
}

.navbar-dark .fa-bars{
    color:lightblue;
}

.navbar-dark .navbar-collapse{
    margin:0px  0px 0px 0px;
}

img.bg{
    margin:0;
    display:block;
    width:100%; 
    height:100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}

.carousel{
    background: black;
    margin: 0px auto;
    border: 1px solid black; 
    position: relative;
}

.parent{
    position: relative;
    top: 0;
    left: 0;
}

.child{
    margin: auto;
    width: 65%;
    height: 65px;
    text-align: center;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
}
